{{define "subject"}}Welcome to SHORTURL!{{end}}

{{define "plainBody"}}
Hi,

To reset your password please go to www.shorturl.com/reset-password and paste your password reset token together with your new password:

{{.passwordResetToken}}

Please note that this is a one-time use token and it will expire in 30 minutes.

Thanks,

The SHORTURL Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>To reset your password please go to www.shorturl.com/reset-password and paste your password reset token together with your new password:</p>
    <pre><code>
    {{.passwordResetToken}}
    </code></pre>
    <p>Please note that this is a one-time use token and it will expire in 30 minutes.</p>
    <p>Thanks,</p>
    <p>The SHORTURL Team</p>
</body>

</html>
{{end}}